## Used card market in Poland
##### Hamed Ahmed Hamed Ahmed & Daniela Quintero Narváez

The data was taken from Otomoto website, the main idea of this project is to analyze used cars polish market in order to develop a business investment idea.

In [5]:
import pandas as pd
data = pd.read_csv('data/cars_brand.csv')
data.head()

,Offered by,Show VIN offers,Has registration number,Car brand,Car model,Version,Generation,Production year,Mileage,Engine capacity,...,Rodzaj koloru,Country of origin,First registration date,Vehicle registration number,Registered in Poland,No accidents,Serwisowany w ASO,Condition,VIN,Price
0,Prywatne,Tak,NaN,Skoda,Octavia,2.0 TDI RS,II (2004-2013),2007,316 000 km,1 968 cm3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Używane,Wyświetl VIN,22 300
1,Prywatne,Tak,Tak,Skoda,Octavia,1.6 TDI Ambition DSG,III (2013-),2016,280 000 km,1 598 cm3,...,Metalik,Niemcy,NaN,NaN,Tak,Tak,Tak,Używane,Wyświetl VIN,39 999
2,Prywatne,Tak,Tak,Skoda,Superb,Combi 1.6 TDI Green tec Exclusive,II (2008-2018),2011,160 000 km,1 598 cm3,...,NaN,Belgia,NaN,NaN,Tak,NaN,NaN,Używane,Wyświetl VIN,35 000
3,Prywatne,Tak,Tak,Skoda,Octavia,1.6 TDI Ambition,III (2013-),2019,63 500 km,1 598 cm3,...,Metalik,Polska,30 październik 2019,CZN115AJ,Tak,Tak,Tak,Używane,Wyświetl VIN,64 300
4,Prywatne,Tak,Tak,Skoda,Karoq,2.0 TSI 4x4 Sportline DSG,NaN,2019,66 000 km,1 984 cm3,...,Metalik,Polska,13 sierpień 2019,SK240RL,Tak,Tak,Tak,Używane,Wyświetl VIN,119 900

#### Data Cleaning
The data contains some missing values, information is mixed between english and polish language and some numeric variables are mixed with text like mileage and engine capacity.

###### Missing values
We will drop columns with more than 40% missing values and we will impute the remaining ones in the columns of our interest:

In [6]:
# Dropping unnecessary columns
data = data.drop(columns=['Fuel consumption outside the city', 
                      'Emisja CO2', 'First registration date', 
                      'Vehicle registration number',
                      'Serwisowany w ASO',
                      'Fuel consumption in the city',
                      'Has registration number',
                      'Show VIN offers', 'VIN',
                      'Registered in Poland']
                      )
# Impute missing values
data['Version'].fillna('Unknown', inplace=True)
data['Generation'].fillna('Unknown', inplace=True)
data['Mileage'].fillna('0', inplace=True)
data['Engine capacity'].fillna('0', inplace=True)
data['Power'].fillna('0', inplace=True)
data['Drive'].fillna('Unknown', inplace=True)
data['Number of doors'].fillna(data['Number of doors'].mode()[0], inplace=True)
data['Number of seats'].fillna(data['Number of seats'].mode()[0], inplace=True)
data['Rodzaj koloru'].fillna('Unknown', inplace=True)
data['Country of origin'].fillna('Unknown', inplace=True)
data['No accidents'].fillna('Unknown', inplace=True)
data['Transmission'].fillna('Manualna', inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116405 entries, 0 to 116404
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Offered by         116405 non-null  object
 1   Car brand          116405 non-null  object
 2   Car model          116405 non-null  object
 3   Version            116405 non-null  object
 4   Generation         116405 non-null  object
 5   Production year    116405 non-null  int64
 6   Mileage            116405 non-null  object
 7   Engine capacity    116405 non-null  object
 8   Fuel type          116405 non-null  object
 9   Power              116405 non-null  object
 10  Transmission       116405 non-null  object
 11  Drive              116405 non-null  object
 12  Body type          116405 non-null  object
 13  Number of doors    116405 non-null  float64
 14  Number of seats    116405 non-null  float64
 15  Color              116405 non-null  object
 16  Rodzaj koloru      116405 non-null  object
 17  Country of origin  116405 non-null  object
 18  No accidents       116405 non-null  object
 19  Condition          116405 non-null  object
 20  Price              116405 non-null  object
dtypes: float64(2), int64(1), object(18)
memory usage: 18.7+ MB

/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Version'].fillna('Unknown', inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Generation'].fillna('Unknown', inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Mileage'].fillna('0', inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Engine capacity'].fillna('0', inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Power'].fillna('0', inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Drive'].fillna('Unknown', inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Number of doors'].fillna(data['Number of doors'].mode()[0], inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Number of seats'].fillna(data['Number of seats'].mode()[0], inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Rodzaj koloru'].fillna('Unknown', inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Country of origin'].fillna('Unknown', inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['No accidents'].fillna('Unknown', inplace=True)
/var/folders/p7/s90b_j_d5d3g6j1dw9s1p0jh0000gn/T/ipykernel_95516/598359136.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Transmission'].fillna('Manualna', inplace=True)

We will transform variables that should be into numeric category:

In [7]:
data['Mileage'] = data['Mileage'].str.replace(' km', '').str.replace(',', '').str.replace(' ','').astype(int)
data['Engine capacity'] = data['Engine capacity'].str.replace(' cm3', '').str.replace(',', '').str.replace(' ','').astype(int)
data['Power'] = data['Power'].str.replace(' KM', '').str.replace(',', '').str.replace(' ','').astype(int)
data['Price'] = data['Price'].str.replace(' PLN', '').str.replace(',', '').str.replace(' ','').astype(float)

# Verification
print(data[['Mileage', 'Engine capacity', 'Power', 'Price']].dtypes)

Mileage              int64
Engine capacity      int64
Power                int64
Price              float64
dtype: object

As the data is both in English and Polish, we will standardize the language and use only English:

In [8]:
data.rename(columns={'Rodzaj koloru':'Type of color'}, inplace=True)

translation_dictionary = {
    'Prywatne': 'Private',
    'Firma': 'Company',
    'Benzyna': 'Gasoline',
    'Benzyna+LPG': 'Gasoline',
    'Hybryda': 'Hybrid',
    'Elektryczny': 'Electric',
    'Benzyna+CNG': 'Gasoline',
    'Wodór': 'Hydrogen',
    'Manualna': 'Manual',
    'Automatyczna': 'Automatic',
    'Na przednie koła': 'Front wheels',
    '4x4 (dołączany automatycznie)': '4x4 automatic',
    '4x4 (dołączany ręcznie)': '4x4 manual',
    '4x4 (stały)': '4x4 fixed',
    'Na tylne koła': 'Rear wheels',
    'Kombi': 'Estate',
    'Kompakt': 'Compact',
    'Auta małe': 'Compact',
    'Auta miejskie': 'City car',
    'Kabriolet': 'Convertible',
    'Niebieski': 'Blue',
    'Inny kolor': 'Other',
    'Brązowy': 'Brown',
    'Srebrny': 'Silver',
    'Zielony': 'Green',
    'Czarny': 'Black',
    'Biały': 'White',
    'Szary': 'Gray',
    'Złoty': 'Golden',
    'Czerwony': 'Red',
    'Beżowy': 'Beige',
    'Błękitny': 'Blue',
    'Granatowy': 'Navy Blue',
    'Żółty': 'Yellow',
    'Pomarańczowy': 'Orange',
    'Bordowy': 'Maroon',
    'Fioletowy': 'Violet',
    'Metalik': 'Metallic',
    'Perłowy': 'Pearl',
    'Matowy': 'Matte',
    'Niemcy': 'Germany',
    'Belgia': 'Belgium',
    'Polska': 'Poland',
    'Dania': 'Denmark',
    'Francja': 'France',
    'Norwegia': 'Norway',
    'Czechy': 'Czechia',
    'Holandia': 'Netherlands',
    'Włochy': 'Italy',
    'Szwajcaria': 'Switzerland',
    'Szwecja': 'Sweden',
    'Luksemburg': 'Luxembourg',
    'Finlandia': 'Finland',
    'Hiszpania': 'Spain',
    'Litwa': 'Lithuania',
    'Wielka Brytania': 'Great Britain',
    'Rosja': 'Russia',
    'Łotwa': 'Latvia',
    'Słowacja': 'Slovakia',
    'Węgry': 'Hungary',
    'Słowenia': 'Slovenia',
    'Inny': 'Other',
    'Stany Zjednoczone': 'USA',
    'Kanada': 'Canada',
    'Irlandia': 'Ireland',
    'Japonia': 'Japan',
    'Islandia': 'Iceland',
    'Chorwacja': 'Croatia',
    'Turcja': 'Turkey',
    'Białoruś': 'Belarus',
    'Monako': 'Monaco',
    'Ukraina': 'Ukraine',
    'Rumunia': 'Romania',
    'Bułgaria': 'Bulgaria',
    'Tak': 'Yes',
    'Używane': 'Used',
    'Nowe': 'New'
}

var_translate = ['Offered by', 'Fuel type', 'Transmission', 'Drive',
                 'Body type', 'Color', 'Type of color',
                 'Country of origin', 'No accidents', 'Condition'
                 ]

for var in var_translate :
    data[var] = data[var].replace(translation_dictionary)

data[var_translate].head()

,Offered by,Fuel type,Transmission,Drive,Body type,Color,Type of color,Country of origin,No accidents,Condition
0,Private,Diesel,Manual,Front wheels,Estate,Blue,Unknown,Unknown,Unknown,Used
1,Private,Diesel,Automatic,Front wheels,Estate,Other,Metallic,Germany,Yes,Used
2,Private,Diesel,Manual,Front wheels,Estate,Brown,Unknown,Belgium,Unknown,Used
3,Private,Diesel,Manual,Front wheels,Sedan,Silver,Metallic,Poland,Yes,Used
4,Private,Gasoline,Automatic,4x4 automatic,SUV,Blue,Metallic,Poland,Yes,Used

Our investor is interested in 10 brands, so we will remove other brands from the dataset:

In [9]:
data['Car brand'].unique()

array(['Skoda', 'Seat', 'Ford', 'Hyundai', 'BMW', 'Toyota', 'MINI',
       'Volvo', 'Peugeot', 'Renault', 'Mazda', 'Nissan', 'Audi',
       'Mercedes-Benz', 'Volkswagen'], dtype=object)

In [10]:
brands = ['Skoda', 'Ford', 'Hyundai', 'BMW', 'Toyota', 'Peugeot', 'Renault', 'Audi', 'Mercedes-Benz', 'Volkswagen']
data = data[data['Car brand'].isin(brands)]
data['Car brand'].unique()

array(['Skoda', 'Ford', 'Hyundai', 'BMW', 'Toyota', 'Peugeot', 'Renault',
       'Audi', 'Mercedes-Benz', 'Volkswagen'], dtype=object)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86268 entries, 0 to 116404
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Offered by         86268 non-null  object
 1   Car brand          86268 non-null  object
 2   Car model          86268 non-null  object
 3   Version            86268 non-null  object
 4   Generation         86268 non-null  object
 5   Production year    86268 non-null  int64
 6   Mileage            86268 non-null  int64
 7   Engine capacity    86268 non-null  int64
 8   Fuel type          86268 non-null  object
 9   Power              86268 non-null  int64
 10  Transmission       86268 non-null  object
 11  Drive              86268 non-null  object
 12  Body type          86268 non-null  object
 13  Number of doors    86268 non-null  float64
 14  Number of seats    86268 non-null  float64
 15  Color              86268 non-null  object
 16  Type of color      86268 non-null  object
 17  Country of origin  86268 non-null  object
 18  No accidents       86268 non-null  object
 19  Condition          86268 non-null  object
 20  Price              86268 non-null  float64
dtypes: float64(3), int64(4), object(14)
memory usage: 14.5+ MB

As the idea is to invest in used cars, it is important that the cars as not too old, as cars are still assets that depreciate and lose value over time.

In [12]:
data['Production year'].min()

1915

The investment project will take into consideration only cars that were producued in 2000 or later.

In [14]:
data = data[data['Production year']>=2000]
data['Production year'].min()

2000